@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-page="/Purchases/List">Mani pirkumi</a>
            </li>
            @if (User.IsInRole("Administrator") || User.IsInRole("Bookkeeper") || User.IsInRole("Cashier"))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-page="/Purchases/Index">Pirkumi</a>
                </li>
            }
            @if (User.IsInRole("Administrator") || User.IsInRole("Bookkeeper"))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-page="/Categories/Index">Kategorijas</a>
                </li>
            }
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Sveiki, @User.Identity.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button type="submit" class="nav-link btn btn-link text-dark">Izlogoties</button>
                </form>
            </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Reģistrēties</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Autorizēties</a>
                </li>
            }
        </ul>
