*.sw[a-p]
*.*~
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
.vs/
msbuild.log
msbuild.err
msbuild.wrn
*.suo
*.user
*.userosscache
*.sln.docstates
project.lock.json
.DS_Store
database.db*