@page
@model TicketReservationSystem.Pages.Performances.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Vai Jūs tiešām vēlaties izdzēst šo izrādi?</h1>
<br>
<br>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            Nosaukums
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Performances.Name)
        </dd>
        <dt class="col-sm-2">
            Apraksts
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Performances.Description)
        </dd>
        <dt class="col-sm-2">
            Cena
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Performances.Price)
        </dd>
        <dt class="col-sm-2">
            Teātris
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Performances.Theatre.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Performances.Id" />
        <div class="btn-group" role="group" aria-label="Basic example">
            <input type="submit" value="Dzēst" class="btn btn-danger" />
            <a class="btn btn-secondary" role="button" asp-page="./Index">Atpakaļ</a>
        </div>
    </form>
</div>
