@page
@model TicketReservationSystem.Pages.Categories.IndexModel
@using TicketReservationSystem.Authorization

@{
    ViewData["Title"] = "Index";
}

<h1>Izrāžu kategoriju saraksts</h1>

<p>
    @if (User.IsInRole(Constants.Bookkeeper) || User.IsInRole(Constants.Administrator))
    {
        <a role="button" asp-page="Create" class="btn btn-dark" data-toggle="tooltip" data-placement="top" title="Pievienot"><i class="fas fa-plus"></i></a>        
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nosaukums
            </th>
            <th>
                Apraksts
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Categories) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="Izvēlne">                    
                    @if (User.IsInRole(Constants.Bookkeeper) || User.IsInRole(Constants.Administrator))
                    {
                        <a role="button" asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Rediģēt"><i class="far fa-edit"></i></a>
                        <a role="button" asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Dzēst"><i class="fas fa-trash-alt"></i></a>
                    }
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
