@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This page should show pretty pictures of upcoming shows and performances. Sadly there are none :(.</p>
    <p>Feel free to browse all the available theatres, shows and performances using the menu above!</p>
</div>
